* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
body {
    font-family:  -apple-system,system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 247, 232);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
/*
Navigation
*/
nav {
    display: flex;
    flex-direction: row;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    background-color: rgba(255, 228, 181, 0.7);
    transition: 0.25s;
}
nav:hover {
    background-color: rgb(255, 212, 132, 0.6);
}
nav img {
    margin-left: 0px;
    height: 120px;
}
nav a {
    text-decoration: none;
    color: rgb(29, 63, 216);
    margin-right: 10px;
}
/*
Main content
*/
main {
    min-height: 100vh;
    width: 90%;
    margin-top: 200px;
}
main h2 {
    text-align: center;
}
/*
Blog card
*/
.cards {
    display: flex;
    flex-direction: column;
}
.cards a {
    color: #000;
    text-decoration: none;
}
.card {
    display: flex;
    flex-shrink: 1;
    text-align: start;
    padding: 16px;
    border-radius: 4px;
	transition: 140ms;
	cursor: pointer;
	margin-left: 0px;
}
.card:hover {
    background-color: rgb(255, 212, 132, 0.6);
}
.card .content {
    margin-left: 5vmin;
}
.card img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}
/*
Footer
*/
footer {
    margin-top: auto;
    padding: 8px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: bisque;
}
footer img {
    vertical-align: middle;
    width: 2.5vh;
    height: 2.5vh;
}
/*
ARTICLE
*/
article {
    margin-top: 200px;
    margin-bottom: 50px;
    width: 90%;
    min-height: 100vh;
    max-width: 920px;
    text-align: center;
}
article h2 {
    margin-bottom: 20px;
}
article p {
    text-align: start;
    margin-top: 20px;
}
article .react {
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    background-color: gainsboro;
    padding: 8px;
}